:root {
  /** Fonts **/
  --default-font: "PlusJakartaSans";
  /** Colors **/
  /* opaque */
  --color-opaque-blue: #477ae1;
  --color-opaque-red3: #4c2d3c;
  --color-opaque-red2: #e54796;
  --color-opaque-red1: #fcf0f7;
  --color-opaque-green3: #33402d;
  --color-opaque-green2: #45be33;
  --color-opaque-green1: #f0f9ec;
  --color-opaque-black: #000000;
  --color-opaque-gray8: #252222;
  --color-opaque-gray7: #43403f;
  --color-opaque-gray6: #646060;
  --color-opaque-gray5: #868382;
  --color-opaque-gray4: #c7c2c1;
  --color-opaque-gray3: #e6e1e1;
  --color-opaque-gray2: #f7f4f3;
  --color-opaque-gray1: #faf8f7;
  --color-opaque-white: #ffffff;
  /* transparent */
  --color-transparent-blue: #0047d6b8;
  --color-transparent-red3: #6b4054b8;
  --color-transparent-red2: #db006eb8;
  --color-transparent-red1: #f0a5cc29;
  --color-transparent-green3: #47593eb8;
  --color-transparent-green2: #17ad00cc;
  --color-transparent-green1: #a5d98b29;
  --color-transparent-gray8: #1c1919f5;
  --color-transparent-gray7: #14100fcc;
  --color-transparent-gray6: #292323b8;
  --color-transparent-gray5: #423d3ca3;
  --color-transparent-gray4: #8c817e7a;
  --color-transparent-gray3: #b2a2a252;
  --color-transparent-gray2: #ccbbb829;
  --color-transparent-gray1: #bfa69914;
  /* transparent/invert */
  --color-transparent-invert-gray6: #d1c9c97a;
  --color-transparent-invert-gray5: #f2edeb7a;
  --color-transparent-invert-gray4: #f0eae9cc;
  --color-transparent-invert-gray2: #f5f1f0cc;
  /* accent/opaque */
  --color-accent-opaque5: #304c47;
  --color-accent-opaque4: #33afa6;
  --color-accent-opaque3: #5cdfd4;
  --color-accent-opaque2: #99ffee;
  --color-accent-opaque1: #defef9;
  /* accent/transparent */
  --color-accent-transparent5: #284540f5;
  --color-accent-transparent4: #009c8fcc;
  --color-accent-transparent3: #00ccbba3;
  --color-accent-transparent2: #2bffdc7a;
  --color-accent-transparent1: #32fadc29;

  /** Aliases(light theme) **/
  /* background */
  --background-overlay: var(--color-transparent-gray2);
  --background-accent-secondary: var(--color-accent-opaque1);
  --background-accent-primary: var(--color-accent-opaque2);
  --background-negative: var(--color-opaque-red1);
  --background-positive: var(--color-opaque-green1);
  --background-elevated: var(--color-opaque-white);
  --background-secondary: var(--color-opaque-gray2);
  --background-primary: var(--color-opaque-white);
  /* fill */
  --fill-control: var(--color-opaque-white);
  --fill-negative-bg: var(--color-transparent-red1);
  --fill-negative: var(--color-opaque-red2);
  --fill-positive-bg: var(--color-transparent-green1);
  --fill-positive: var(--color-opaque-green2);
  --fill-accent-primary-hover: var(--color-accent-opaque3);
  --fill-accent-secondary: var(--color-accent-transparent1);
  --fill-accent-primary: var(--color-accent-opaque2);
  --fill-elevated-hover: var(--color-opaque-gray1);
  --fill-elevated: var(--color-opaque-white);
  --fill-secondary-hover: var(--color-transparent-gray3);
  --fill-secondary: var(--color-transparent-gray2);
  --fill-primary-hover: var(--color-opaque-gray8);
  --fill-primary: var(--color-opaque-black);
  /* fill/invert */
  --fill-invert-negative: var(--color-opaque-red3);
  --fill-invert-primary: var(--color-opaque-white);
  /* text */
  --text-accent: var(--color-accent-opaque3);
  --text-negative: var(--color-opaque-red2);
  --text-positive: var(--color-opaque-green2);
  --text-on-light: var(--color-opaque-black);
  --text-on-dark: var(--color-opaque-white);
  --text-tertiary: var(--color-transparent-gray4);
  --text-secondary-hover: var(--color-transparent-gray5);
  --text-secondary: var(--color-transparent-gray5);
  --text-primary-hover: var(--color-opaque-gray6);
  --text-primary: var(--color-opaque-black);
  /* text/invert */
  --text-invert-secondary-hover: var(--color-transparent-invert-gray4);
  --text-invert-secondary: var(--color-transparent-invert-gray5);
  --text-invert-primary-hover: var(--color-opaque-gray3);
  --text-invert-primary: var(--color-opaque-white);
  /* icon */
  --icon-negative: var(--color-opaque-red2);
  --icon-positive: var(--color-opaque-green2);
  --icon-invert: var(--color-opaque-white);
  --icon-on-light: var(--color-opaque-black);
  --icon-on-dark: var(--color-opaque-white);
  --icon-tertiary: var(--color-opaque-gray4);
  --icon-secondary-hover: var(--color-opaque-gray6);
  --icon-secondary: var(--color-opaque-gray5);
  --icon-primary-hover: var(--color-opaque-gray6);
  --icon-primary: var(--color-opaque-black);
  /* border */
  --border-negative: var(--color-opaque-red2);
  --border-invert: var(--color-opaque-white);
  --border-hover: var(--color-opaque-gray5);
  --border-focus: var(--color-opaque-black);
  /* misc */
  --svg-invert: 0;
  --path-to-logo: "/images/logo.svg";
  --logo: url("data:image/svg+xml,%3Csvg width='128' height='24' viewBox='0 0 128 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1202_66603)'%3E%3Crect y='2' width='20' height='20' rx='10' fill='black'/%3E%3Cpath d='M15.2029 28H5.65563V10.0827L-1.43237 28H-7.43555L1.66316 5H11.1959V22.9459L18.284 5H27.8311V28H22.2908V10.0827L15.2029 28Z' fill='%2399FFEE'/%3E%3C/g%3E%3Cpath d='M56.5327 5.30877C55.6905 4.9004 54.7121 4.69622 53.5976 4.69622C52.6873 4.69622 51.8451 4.84085 51.0624 5.14712C50.2797 5.44489 49.6075 5.85325 49.0375 6.38073C48.4675 6.89969 48.0422 7.52075 47.7784 8.23539L50.4413 9.52854C50.688 8.93301 51.0879 8.44808 51.6239 8.06523C52.1598 7.68239 52.7809 7.49522 53.4785 7.49522C54.2272 7.49522 54.8227 7.6909 55.2736 8.08225C55.7245 8.4736 55.9457 8.95853 55.9457 9.53705V9.97945L51.9386 10.6345C50.8752 10.8047 49.9989 11.0854 49.3013 11.4768C48.6037 11.8766 48.0847 12.3701 47.7444 12.9571C47.4041 13.5441 47.2339 14.2162 47.2339 14.9564C47.2339 15.6966 47.4211 16.4197 47.8039 17.0067C48.1868 17.5938 48.7313 18.0447 49.4289 18.3594C50.135 18.6742 50.9603 18.8359 51.9046 18.8359C52.6533 18.8359 53.3254 18.7338 53.9294 18.5381C54.5335 18.3424 55.0779 18.0362 55.5714 17.6448C55.7756 17.4832 55.9542 17.296 56.1329 17.1003V18.5381H59.2212V9.52004C59.2212 8.57569 58.9829 7.74194 58.515 7.01029C58.0386 6.27863 57.3835 5.71713 56.5413 5.30877H56.5327ZM55.9372 13.0337C55.9372 13.6292 55.7926 14.1822 55.5118 14.7012C55.2311 15.2116 54.8312 15.62 54.3037 15.9093C53.7848 16.1985 53.1807 16.3431 52.5001 16.3431C51.9727 16.3431 51.5218 16.207 51.173 15.9348C50.8156 15.6625 50.637 15.2882 50.637 14.8288C50.637 14.3694 50.7901 13.961 51.1134 13.6718C51.4282 13.3825 51.9046 13.1783 52.5512 13.0592L55.9287 12.4552V13.0337H55.9372Z' fill='black'/%3E%3Cpath d='M61.8755 18.5296H65.1594V7.90358H69.4813V5.00248H61.8755V18.5296Z' fill='black'/%3E%3Cpath d='M85.6295 7.90358H87.7649V18.5296H91.0233V5.00248H85.6295V7.90358Z' fill='black'/%3E%3Cpath d='M91.0231 0H87.7647V3.47961H91.0231V0Z' fill='black'/%3E%3Cpath d='M103.282 5.3428C102.508 4.90891 101.632 4.69622 100.637 4.69622C99.6412 4.69622 98.8329 4.90891 98.1098 5.32578C97.5568 5.64907 97.1229 6.09998 96.8081 6.66148V4.99399H93.7284V18.5211H97.0123V10.592C97.0123 9.99646 97.1314 9.48601 97.3611 9.05212C97.5908 8.61823 97.9141 8.28643 98.331 8.05673C98.7479 7.82702 99.2158 7.70791 99.7518 7.70791C100.288 7.70791 100.756 7.82702 101.173 8.05673C101.589 8.28643 101.913 8.61823 102.142 9.05212C102.372 9.48601 102.491 9.99646 102.491 10.592V18.5211H105.75V9.82631C105.75 8.8139 105.537 7.9206 105.103 7.15492C104.669 6.38073 104.074 5.78519 103.299 5.35131L103.282 5.3428Z' fill='black'/%3E%3Cpath d='M111.56 0H108.276V18.5296H113.33V15.6625H111.56V0Z' fill='black'/%3E%3Cpath d='M123.599 5.00248L120.111 14.3268L116.606 5.00248H113.101L118.375 18.3339L116.308 23.498H119.813L127.13 5.00248H123.599Z' fill='black'/%3E%3Cpath d='M39.4753 5.00248L35.1365 15.9858V5.00248H29.3513L24 18.5296H27.5307L31.878 7.53775V18.5296H37.6632L42.0021 7.53775V18.5296H45.2605V5.00248H39.4753Z' fill='black'/%3E%3Cpath d='M80.7201 6.58492C80.2948 6.06595 79.7928 5.64908 79.2313 5.3343C78.4656 4.90892 77.5808 4.70473 76.5684 4.70473C75.3263 4.70473 74.2118 4.99399 73.2335 5.564C72.2551 6.13401 71.4809 6.91671 70.9109 7.91211C70.3409 8.9075 70.0516 10.039 70.0516 11.3152C70.0516 12.5913 70.3409 13.7143 70.9109 14.7182C71.4809 15.7306 72.2636 16.5218 73.259 17.1088C73.31 17.1344 73.3611 17.1599 73.4036 17.1854C74.365 17.7129 75.4284 17.9851 76.611 17.9851C77.6234 17.9851 78.5167 17.7809 79.2824 17.3641C79.6992 17.1429 80.0481 16.8451 80.3713 16.5048C80.4224 16.4537 80.4819 16.4027 80.533 16.3431V17.8575C80.533 18.3084 80.4649 18.7083 80.3288 19.0656C79.7673 20.1971 78.5082 20.9883 77.0364 21.0053C76.9428 21.0053 76.8577 20.9968 76.7641 20.9883C76.6705 20.9883 76.5684 20.9713 76.4749 20.9628C75.1817 20.8011 74.1012 20.044 73.6163 18.9975L70.9024 20.3162C71.1831 20.9968 71.5915 21.6009 72.1445 22.1198C72.7655 22.7068 73.5057 23.1663 74.3735 23.4981C75.2327 23.8298 76.1686 24 77.181 24C78.4741 24 79.6142 23.7363 80.601 23.2003C81.5879 22.6728 82.3706 21.9412 82.9406 21.0138C83.5106 20.0865 83.7999 19.0316 83.7999 17.8575V5.0025H80.7201V6.58492ZM80.0991 13.2294C79.8013 13.7739 79.393 14.2077 78.8655 14.514C78.7209 14.5991 78.5677 14.6671 78.4146 14.7267C77.9977 14.8883 77.5468 14.9734 77.0364 14.9734C76.5259 14.9734 76.058 14.8883 75.6326 14.7182C75.4795 14.6586 75.3263 14.5821 75.1902 14.5055C74.6542 14.1907 74.2288 13.7568 73.9226 13.2123C73.6163 12.6679 73.4632 12.0468 73.4632 11.3492C73.4632 10.6516 73.6163 10.0305 73.9226 9.48601C74.2288 8.94153 74.6542 8.50764 75.2072 8.19286C75.7517 7.87808 76.3643 7.71643 77.0449 7.71643C77.7255 7.71643 78.321 7.87808 78.8485 8.19286C79.3674 8.50764 79.7843 8.94153 80.0906 9.48601C80.3969 10.0305 80.55 10.6516 80.55 11.3492C80.55 12.0468 80.4054 12.6934 80.0991 13.2379V13.2294Z' fill='black'/%3E%3Cdefs%3E%3CclipPath id='clip0_1202_66603'%3E%3Crect y='2' width='20' height='20' rx='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --w3m-accent-color: #0000007e !important;
}

[data-theme="dark"] {
  /** Aliases(dark theme) **/
  /* background */
  --background-overlay: var(--color-transparent-gray7);
  --background-accent-secondary: var(--color-accent-opaque5);
  --background-accent-primary: var(--color-accent-opaque4);
  --background-negative: var(--color-opaque-red3);
  --background-positive: var(--color-opaque-green3);
  --background-elevated: var(--color-opaque-gray8);
  --background-secondary: var(--color-opaque-gray8);
  --background-primary: var(--color-opaque-black);
  /* fill */
  --fill-control: var(--color-opaque-gray1);
  --fill-negative-bg: var(--color-transparent-red3);
  --fill-negative: var(--color-opaque-red2);
  --fill-positive-bg: var(--color-transparent-green3);
  --fill-positive: var(--color-opaque-green2);
  --fill-accent-primary-hover: var(--color-accent-opaque1);
  --fill-accent-secondary: var(--color-accent-transparent5);
  --fill-accent-primary: var(--color-accent-opaque2);
  --fill-elevated-hover: var(--color-transparent-gray3);
  --fill-elevated: var(--color-transparent-gray2);
  --fill-secondary-hover: var(--color-transparent-gray4);
  --fill-secondary: var(--color-transparent-gray2);
  --fill-primary-hover: var(--color-opaque-gray3);
  --fill-primary: var(--color-opaque-gray1);
  /* fill/invert */
  --fill-invert-negative: var(--color-opaque-red1);
  --fill-invert-primary: var(--color-opaque-black);
  /* text */
  --text-accent: var(--color-accent-opaque4);
  --text-negative: var(--color-opaque-red2);
  --text-positive: var(--color-opaque-green2);
  --text-on-light: var(--color-opaque-black);
  --text-on-dark: var(--color-opaque-gray1);
  --text-tertiary: var(--color-transparent-invert-gray6);
  --text-secondary-hover: var(--color-transparent-invert-gray4);
  --text-secondary: var(--color-transparent-invert-gray5);
  --text-primary-hover: var(--color-opaque-gray3);
  --text-primary: var(--color-opaque-gray1);
  /* text/invert */
  --text-invert-secondary-hover: var(--color-transparent-gray6);
  --text-invert-secondary: var(--color-transparent-gray5);
  --text-invert-primary-hover: var(--color-opaque-gray6);
  --text-invert-primary: var(--color-opaque-black);
  /* icon */
  --icon-negative: var(--color-opaque-red2);
  --icon-positive: var(--color-opaque-green2);
  --icon-invert: var(--color-opaque-black);
  --icon-on-light: var(--color-opaque-black);
  --icon-on-dark: var(--color-opaque-gray1);
  --icon-tertiary: var(--color-opaque-gray6);
  --icon-secondary-hover: var(--color-opaque-gray4);
  --icon-secondary: var(--color-opaque-gray5);
  --icon-primary-hover: var(--color-opaque-gray3);
  --icon-primary: var(--color-opaque-gray1);
  /* border */
  --border-negative: var(--color-opaque-red2);
  --border-invert: var(--color-opaque-black);
  --border-hover: var(--color-opaque-gray5);
  --border-focus: var(--color-opaque-gray1);
  /* misc */
  --svg-invert: 1;
  --path-to-logo: "/images/logo-2.svg";
  --logo: url("data:image/svg+xml,%3Csvg width='128' height='24' viewBox='0 0 128 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56.5327 5.30877C55.6905 4.9004 54.7121 4.69622 53.5976 4.69622C52.6873 4.69622 51.845 4.84085 51.0623 5.14712C50.2796 5.44489 49.6075 5.85325 49.0375 6.38073C48.4675 6.89969 48.0421 7.52075 47.7784 8.23539L50.4413 9.52854C50.688 8.93301 51.0879 8.44808 51.6238 8.06523C52.1598 7.68239 52.7809 7.49522 53.4785 7.49522C54.2272 7.49522 54.8227 7.6909 55.2736 8.08225C55.7245 8.4736 55.9457 8.95853 55.9457 9.53705V9.97945L51.9386 10.6345C50.8752 10.8047 49.9989 11.0854 49.3013 11.4768C48.6036 11.8766 48.0847 12.3701 47.7444 12.9571C47.4041 13.5441 47.2339 14.2162 47.2339 14.9564C47.2339 15.6966 47.4211 16.4197 47.8039 17.0067C48.1868 17.5938 48.7313 18.0447 49.4289 18.3594C50.135 18.6742 50.9602 18.8359 51.9046 18.8359C52.6533 18.8359 53.3254 18.7338 53.9294 18.5381C54.5334 18.3424 55.0779 18.0362 55.5714 17.6448C55.7756 17.4832 55.9542 17.296 56.1329 17.1003V18.5381H59.2211V9.52004C59.2211 8.57569 58.9829 7.74194 58.515 7.01029C58.0386 6.27863 57.3835 5.71713 56.5412 5.30877H56.5327ZM55.9372 13.0337C55.9372 13.6292 55.7926 14.1822 55.5118 14.7012C55.2311 15.2116 54.8312 15.62 54.3037 15.9093C53.7848 16.1985 53.1807 16.3431 52.5001 16.3431C51.9727 16.3431 51.5218 16.207 51.1729 15.9348C50.8156 15.6625 50.637 15.2882 50.637 14.8288C50.637 14.3694 50.7901 13.961 51.1134 13.6718C51.4282 13.3825 51.9046 13.1783 52.5512 13.0592L55.9287 12.4552V13.0337H55.9372Z' fill='white'/%3E%3Cpath d='M61.8755 18.5296H65.1594V7.90358H69.4813V5.00248H61.8755V18.5296Z' fill='white'/%3E%3Cpath d='M85.6295 7.90358H87.7649V18.5296H91.0233V5.00248H85.6295V7.90358Z' fill='white'/%3E%3Cpath d='M91.0231 0H87.7647V3.47961H91.0231V0Z' fill='white'/%3E%3Cpath d='M103.282 5.3428C102.508 4.90891 101.632 4.69622 100.637 4.69622C99.6411 4.69622 98.8329 4.90891 98.1098 5.32578C97.5568 5.64907 97.1229 6.09998 96.8081 6.66148V4.99399H93.7283V18.5211H97.0123V10.592C97.0123 9.99646 97.1314 9.48601 97.3611 9.05212C97.5908 8.61823 97.9141 8.28643 98.331 8.05673C98.7478 7.82702 99.2157 7.70791 99.7517 7.70791C100.288 7.70791 100.756 7.82702 101.172 8.05673C101.589 8.28643 101.913 8.61823 102.142 9.05212C102.372 9.48601 102.491 9.99646 102.491 10.592V18.5211H105.75V9.82631C105.75 8.8139 105.537 7.9206 105.103 7.15492C104.669 6.38073 104.074 5.78519 103.299 5.35131L103.282 5.3428Z' fill='white'/%3E%3Cpath d='M111.56 0H108.276V18.5296H113.33V15.6625H111.56V0Z' fill='white'/%3E%3Cpath d='M123.599 5.00248L120.111 14.3268L116.606 5.00248H113.101L118.375 18.3339L116.308 23.498H119.813L127.13 5.00248H123.599Z' fill='white'/%3E%3Cpath d='M39.4753 5.00248L35.1365 15.9858V5.00248H29.3513L24 18.5296H27.5307L31.878 7.53775V18.5296H37.6632L42.0021 7.53775V18.5296H45.2605V5.00248H39.4753Z' fill='white'/%3E%3Cpath d='M80.7201 6.58492C80.2947 6.06595 79.7928 5.64908 79.2313 5.3343C78.4656 4.90892 77.5808 4.70473 76.5684 4.70473C75.3263 4.70473 74.2118 4.99399 73.2334 5.564C72.2551 6.13401 71.4809 6.91671 70.9109 7.91211C70.3409 8.9075 70.0516 10.039 70.0516 11.3152C70.0516 12.5913 70.3409 13.7143 70.9109 14.7182C71.4809 15.7306 72.2636 16.5218 73.259 17.1088C73.31 17.1344 73.3611 17.1599 73.4036 17.1854C74.3649 17.7129 75.4284 17.9851 76.611 17.9851C77.6234 17.9851 78.5167 17.7809 79.2824 17.3641C79.6992 17.1429 80.048 16.8451 80.3713 16.5048C80.4224 16.4537 80.4819 16.4027 80.533 16.3431V17.8575C80.533 18.3084 80.4649 18.7083 80.3288 19.0656C79.7673 20.1971 78.5082 20.9883 77.0363 21.0053C76.9428 21.0053 76.8577 20.9968 76.7641 20.9883C76.6705 20.9883 76.5684 20.9713 76.4748 20.9628C75.1817 20.8011 74.1012 20.044 73.6163 18.9975L70.9024 20.3162C71.1831 20.9968 71.5915 21.6009 72.1445 22.1198C72.7655 22.7068 73.5057 23.1663 74.3735 23.4981C75.2327 23.8298 76.1686 24 77.181 24C78.4741 24 79.6141 23.7363 80.601 23.2003C81.5879 22.6728 82.3706 21.9412 82.9406 21.0138C83.5106 20.0865 83.7999 19.0316 83.7999 17.8575V5.0025H80.7201V6.58492ZM80.0991 13.2294C79.8013 13.7739 79.3929 14.2077 78.8655 14.514C78.7208 14.5991 78.5677 14.6671 78.4146 14.7267C77.9977 14.8883 77.5468 14.9734 77.0363 14.9734C76.5259 14.9734 76.058 14.8883 75.6326 14.7182C75.4794 14.6586 75.3263 14.5821 75.1902 14.5055C74.6542 14.1907 74.2288 13.7568 73.9226 13.2123C73.6163 12.6679 73.4631 12.0468 73.4631 11.3492C73.4631 10.6516 73.6163 10.0305 73.9226 9.48601C74.2288 8.94153 74.6542 8.50764 75.2072 8.19286C75.7517 7.87808 76.3642 7.71643 77.0448 7.71643C77.7255 7.71643 78.321 7.87808 78.8485 8.19286C79.3674 8.50764 79.7843 8.94153 80.0906 9.48601C80.3968 10.0305 80.55 10.6516 80.55 11.3492C80.55 12.0468 80.4054 12.6934 80.0991 13.2379V13.2294Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6579 21.8693C11.5173 21.8922 11.3756 21.9122 11.2331 21.9292C11.2172 21.9311 11.2012 21.933 11.1853 21.9348C10.8085 21.9779 10.4253 22 10.037 22C8.48025 22 7.00657 21.6443 5.69283 21.0097C4.41612 20.3929 3.29045 19.5128 2.38637 18.4399C2.36429 18.4137 2.34235 18.3874 2.32053 18.3609C0.893973 16.6323 0.0370178 14.4162 0.0370178 12C0.0370178 9.27406 1.12773 6.80286 2.89654 4.99902C4.7114 3.14823 7.24012 2 10.037 2C13.265 2 16.1357 3.52942 17.9641 5.90315C18.0909 6.06775 18.2126 6.23641 18.3292 6.40891C19.4074 8.00492 20.037 9.92893 20.037 12C20.037 16.971 16.4099 21.0948 11.6579 21.8693ZM5.69283 19.884V10.0818L2.81111 17.3662C3.57832 18.3976 4.56112 19.2591 5.69283 19.884ZM4.38089 4.99902H11.2331V20.9212C11.5249 20.8825 11.8123 20.8297 12.0946 20.7637L17.5274 7.00883C15.9137 4.5919 13.1612 3 10.037 3C7.89428 3 5.92643 3.74881 4.38089 4.99902Z' fill='%2399FFEE'/%3E%3C/svg%3E%0A");
  --w3m-accent-color: #faf8f781 !important;
}

/* deprecated/compat todo get rid of vars in code */
:root {
  --background-overflay: var(--background-overlay);
  --color-accent-opaque-accent4: var(--color-accent-opaque-4);
}
